#articleDetails {
  padding-inline: 0;
}

#articleDetails .row:nth-of-type(1) {
  height: 50vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#articleDetails .row:nth-of-type(1) div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: end;
  padding-block-end: 0.5rem;
  padding-inline: 1rem;

  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.30154068463322825) 60%,
    rgba(0, 0, 0, 0.6460784997592788) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.30154068463322825) 60%,
    rgba(0, 0, 0, 0.6460784997592788) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.30154068463322825) 60%,
    rgba(0, 0, 0, 0.6460784997592788) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

#articleDetails .row:nth-of-type(1) div h1 {
  color: white;
  font-weight: 700;
  margin: 0;
}

.articleCard {
  color: white;
}

.articleCard:hover {
  color: white;
}

.articleCard > div {
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
  height: 25vh;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.articleCard:hover p {
  text-decoration: underline;
}

.articleCard div {
  transition: all 200ms;
}

.articleCard:hover div {
  background-color: rgba(0, 0, 0, 0.285);
  transform: scale(1.02);
}

.articleCard > div > div p {
  font-weight: 600;
}

.articleCard > div > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  padding-inline: 0.3rem;
  padding-block-end: 0.3rem;

  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5004202364539565) 60%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5004202364539565) 60%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5004202364539565) 60%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
